h2 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    color: #8a6d52;
    text-shadow: 3px 3px 3px rgb(25, 19, 19);
    font-size: xx-large;
}

body{
    background-image: url(https://avatars.mds.yandex.net/get-altay/11622009/2a0000018f347349b7612c9d59f159059d3b/orig); 
    background-repeat: no-repeat;
    background-size: cover;
}